footer {
  height: 7rem;
  display: grid;
  place-items: center
}


footer h3,
cite {
  color: #d4d8d4;
  text-align: center;
  font-size: .8rem;
}

a {
  text-decoration: none;
  color: #d2d2d2;
  letter-spacing: 2px;
  margin-left: 3px;
}