footer {
  height: 6rem;
  display: grid;
  place-items: center;
}

footer h3,
cite {
  color: #d4d8d4;
  text-align: center;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #d2d2d2;
  margin-left: 3px;
}
