main {
  max-width: 80vw;
  min-height: 60vh;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  background: #d2d2d2;
}

main h1,
h2,
p {
  margin-bottom: .8rem;
  color: #433e90;
  font-family: 'Lato', sans-serif;
}