main {
  max-width: 80vw;
  min-height: 60vh;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  background: #DADFEA;
}

main h1,
h2 {
  margin-bottom: .8rem;
  color: #000;
  font-family: 'Lato', sans-serif;
}