.task {
  display: flex;
  justify-content: space-between;
  max-width: 25rem;
  margin: 0 auto;
  border-bottom: 1px solid #326ada;
  padding: 1rem;
}

.details h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  color: #7b999c;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions svg {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: #2c2c2c;
  color: #d4d8d4;
  transition: 0.5s;
}

.actions svg:hover {
  color: #7b999c;
}

.actions svg:hover:nth-child(2) {
  color: #b92525;
}
