.input-container {
  display: flex;
  flex-direction: column;
}

.input_container label {
  font-weight: bold;
  margin-bottom: .4rem;
  color: #433e90;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 0 auto;
}

form input {
  padding: .5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 15px 0 15px;
  border: none;
  color: #433e90
}

form input[type='submit'] {
  transition: .5s;
  cursor: pointer;
  border-radius: 0 15px 0 15px;
  background: #326ada;
  color: #d2d2d2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}


form input[type='submit']:hover {
  background: #433e90;
}