* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', sans-serif;

  --bg-color: #191919;
  --text-color: #ECDBBA;
  --text-color-alt: #C84B31;
  --base-color: #2D4263;

}

body {
  background: var(--bg-color);
}

.hide {
  display: none !important;
}