* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', sans-serif;

}

body {
  background: linear-gradient(32deg, rgba(248, 164, 216, 1) 0%, rgba(108, 99, 255, 1) 80%);
}

.hide {
  display: none !important;
}