* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

body {
  background: linear-gradient(180deg, rgba(50, 106, 218, 1) 0%, rgba(32, 27, 113, 1) 100%)
}

.hide {
  display: none !important;
}